.cursos-form input{
    margin: 0 .25rem;
    min-width: 125px;
    border: 1px solid #eee;
    border-left: 3px solid;
    border-radius: 5px;
    transition: border-color .5s ease-out;
}

.cursos-form input:optional{
    border-left-color: #999;
}

.cursos-form input:required:valid{
    border-left-color: palegreen;
}

.cursos-form input:invalid{
    border-left-color: salmon;
}
